@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* height: 100; */
    font-family: Roboto, sans-serif;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 150px 0 150px;
}

.header-left {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
    color: #e5e7eb;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.container1,
.container2,
.container3,
.container4 {
    /* border: 1px solid black; */
    /* for debugging */
    display: flex;
    height: 100%;
    flex: 1;
}

.container1 {
    justify-content: space-between;
    background-color: #1f2937;
    padding: 50px 150px 50px 150px;
}

.container1-left,
.container1-right {
    width: 50vw;
    margin: 0 20px;
}

.container1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1-left-head {
    font-size: 40px;
    font-weight: 800;
    color: #f9faf8;
}

.container1-left-body {
    font-size: 12px;
    color: #e5e7eb;
}

.container1-right {
    background-color: grey;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1-left-button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    width: 100px;
}

.container2 {
    display: flex;
    flex-direction: column;
    padding: 20px 250px 20px 250px;
}

.container2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 20px;
}

.container2-info {
    display: flex;
    justify-content: space-around;
}

.info-picture {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 120px;
    width: 120px;
}

.info-detail {
    display: flex;
    width: 110px;
    text-align: center;
    font-size: 12px;
    margin: 5px auto;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px 340px 50px 340px;
}

.container-quote {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-style: italic;
    color: #1f2937;
}

.container-quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4-cta {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #3882f6;
    margin: 50px 0;
}

.container4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container4-button {
    display: flex;
    align-items: center;
}

.container4-text-header {
    color: #f9faf8;
    font-size: 18px;
}

.container4-text-description {
    color: #e5e7eb;
    font-size: 12px;
}

.item4-button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    width: 100px;
    border-color: white;
}