body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.header-left {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
    color: #e5e7eb;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.container1,
.container2,
.container3,
.container4 {
    border: 1px solid black;
    /* for debugging */
    display: flex;
    height: 100%;
    flex: 1;
}

.container1 {
    justify-content: space-between;
    background-color: #1f2937;
}

.container1-left,
.container1-right {
    width: 50vw;
}

.container1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1-left-head {
    font-size: 40px;
    font-weight: 800;
    color: #f9faf8;
}

.container1-left-body {
    font-size: 12px;
    color: #e5e7eb;
}

.container1-right {
    background-color: grey;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1-left-button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    width: 100px;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.container2-info {
    display: flex;
    justify-content: space-between;
}

.info-picture {
    border: 3px solid #3882f6;
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.info-detail {
    width: 100px;
    text-align: center;
    font-size: 12px;
}